[submodule "icon_resources/font-awesome"]
	path = icon_resources/font-awesome
	url = git@github.com:FortAwesome/Font-Awesome.git
[submodule "icon_resources/heroicons"]
	path = icon_resources/heroicons
	url = git@github.com:tailwindlabs/heroicons.git
