[submodule "icon_resources/font-awesome"]
	path = icon_resources/font-awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "icon_resources/heroicons"]
	path = icon_resources/heroicons
	url = https://github.com/tailwindlabs/heroicons
[submodule "icon_resources/ionicons"]
	path = icon_resources/ionicons
	url = https://github.com/ionic-team/ionicons
[submodule "icon_resources/octicons"]
	path = icon_resources/octicons
	url = https://github.com/primer/octicons
[submodule "icon_resources/bootstrap"]
	path = icon_resources/bootstrap
	url = https://github.com/twbs/icons
[submodule "icon_resources/feather"]
	path = icon_resources/feather
	url = https://github.com/feathericons/feather
[submodule "icon_resources/lucide"]
	path = icon_resources/lucide
	url = https://github.com/lucide-icons/lucide
[submodule "icon_resources/material-design-icons"]
	path = icon_resources/material-design-icons
	url = https://github.com/google/material-design-icons
[submodule "icon_resources/simple-icons"]
	path = icon_resources/simple-icons
	url = https://github.com/simple-icons/simple-icons